
{% extends 'layouts/base-fullscreen.html' %}

{% block title %} Invoice {% endblock title %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}
<style>
    body {
    background: rgb(204,204,204); 
  }
  page {
    background: white;
    display: block;
    margin: 0 auto;
    margin-bottom: 0.5cm;
    box-shadow: 0 0 0.5cm rgba(0,0,0,0.3);
  }
  page[size="A4"] {  
    width: 21cm;
    height: 29.7cm; 
  }

  .company_name{
    font-size: 18px;
    padding-top: 1cm;
  }
  page[size="A4"][layout="landscape"] {
    width: 29.7cm;
    height: 21cm;  
  }
  page[size="A3"] {
    width: 29.7cm;
    height: 42cm;
  }
  page[size="A3"][layout="landscape"] {
    width: 42cm;
    height: 29.7cm;  
  }
  page[size="A5"] {
    width: 14.8cm;
    height: 21cm;
  }
  page[size="A5"][layout="landscape"] {
    width: 21cm;
    height: 14.8cm;  
  }
  @media print {
    body, page {
      margin: 0;
      box-shadow: 0;
    }
  }
</style>
{% endblock stylesheets %}

{% block content %}

<page size="A4">
    <h2 class="company_name">Tuba Trims</h2>
</page>
<page size="A4" layout="landscape">A4 Lanscape</page>
<page size="A5">A5</page>
<page size="A5" layout="landscape">A5 Landscape</page>
<page size="A3">A3</page>
<page size="A3" layout="landscape">A3 Landscape</page>
{% endblock content %}

<!-- Specific JS goes HERE --> 
{% block javascripts %}

{% endblock javascripts %}