{% extends 'layouts/base.html' %}

{% block title %} Dashboard {% endblock title %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}
<style type="text/css">	
  .apexcharts-legend {	
    display: flex;	
    overflow: auto;	
    padding: 0 10px;	
  }	
  .apexcharts-legend.apx-legend-position-bottom, .apexcharts-legend.apx-legend-position-top {	
    flex-wrap: wrap	
  }	
  .apexcharts-legend.apx-legend-position-right, .apexcharts-legend.apx-legend-position-left {	
    flex-direction: column;	
    bottom: 0;	
  }	
  .apexcharts-legend.apx-legend-position-bottom.apexcharts-align-left, .apexcharts-legend.apx-legend-position-top.apexcharts-align-left, .apexcharts-legend.apx-legend-position-right, .apexcharts-legend.apx-legend-position-left {	
    justify-content: flex-start;	
  }	
  .apexcharts-legend.apx-legend-position-bottom.apexcharts-align-center, .apexcharts-legend.apx-legend-position-top.apexcharts-align-center {	
    justify-content: center;  	
  }	
  .apexcharts-legend.apx-legend-position-bottom.apexcharts-align-right, .apexcharts-legend.apx-legend-position-top.apexcharts-align-right {	
    justify-content: flex-end;	
  }	
  .apexcharts-legend-series {	
    cursor: pointer;	
    line-height: normal;	
  }	
  .apexcharts-legend.apx-legend-position-bottom .apexcharts-legend-series, .apexcharts-legend.apx-legend-position-top .apexcharts-legend-series{	
    display: flex;	
    align-items: center;	
  }	
  .apexcharts-legend-text {	
    position: relative;	
    font-size: 14px;	
  }	
  .apexcharts-legend-text *, .apexcharts-legend-marker * {	
    pointer-events: none;	
  }	
  .apexcharts-legend-marker {	
    position: relative;	
    display: inline-block;	
    cursor: pointer;	
    margin-right: 3px;	
    border-style: solid;
  }	
    
  .apexcharts-legend.apexcharts-align-right .apexcharts-legend-series, .apexcharts-legend.apexcharts-align-left .apexcharts-legend-series{	
    display: inline-block;	
  }	
  .apexcharts-legend-series.apexcharts-no-click {	
    cursor: auto;	
  }	
  .apexcharts-legend .apexcharts-hidden-zero-series, .apexcharts-legend .apexcharts-hidden-null-series {	
    display: none !important;	
  }	
  .apexcharts-inactive-legend {	
    opacity: 0.45;	
  }
</style>
  {% endblock stylesheets %}

{% block content %}

      <!-- cards -->
      <div class="w-full px-6 py-6 mx-auto">

        <!-- row 1 -->
        <div class="flex flex-wrap -mx-3">
          <!-- card1 -->
          <div class="w-full max-w-full px-3 mb-6 sm:w-1/2 sm:flex-none xl:mb-0 xl:w-1/4">
            <div class="relative flex flex-col min-w-0 break-words bg-white shadow-soft-xl rounded-lg bg-clip-border">
              <div class="flex-auto p-4">
                <div class="flex flex-row -mx-3">
                  <div class="flex-none w-2/3 max-w-full px-3">
                    <div>
                      <p class="mb-0 font-sans font-semibold leading-normal text-size-sm">Total Employees</p>
                      <h5 class="mb-0 font-bold">
                        {{ emp_count }}
                        <span class="leading-normal text-size-sm font-weight-bolder text-lime-500">+55%</span>
                      </h5>
                    </div>
                  </div>
                  <div class="px-3 text-right basis-1/3">
                    <div class="inline-block w-12 h-12 text-center rounded-lg bg-gradient-fuchsia">
                      <i class="ni ni-money-coins text-size-lg relative top-3.5 text-white"></i>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <!-- card2 -->
          <div class="w-full max-w-full px-3 mb-6 sm:w-1/2 sm:flex-none xl:mb-0 xl:w-1/4">
            <div class="relative flex flex-col min-w-0 break-words bg-white shadow-soft-xl rounded-lg bg-clip-border">
              <div class="flex-auto p-4">
                <div class="flex flex-row -mx-3">
                  <div class="flex-none w-2/3 max-w-full px-3">
                    <div>
                      <p class="mb-0 font-sans font-semibold leading-normal text-size-sm">Total Clients</p>
                      <h5 class="mb-0 font-bold">
                        {{client_count}}
                        <span class="leading-normal text-size-sm font-weight-bolder text-lime-500">+3%</span>
                      </h5>
                    </div>
                  </div>
                  <div class="px-3 text-right basis-1/3">
                    <div class="inline-block w-12 h-12 text-center rounded-lg bg-gradient-fuchsia">
                      <i class="ni ni-world text-size-lg relative top-3.5 text-white"></i>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <!-- card3 -->
          <div class="w-full max-w-full px-3 mb-6 sm:w-1/2 sm:flex-none xl:mb-0 xl:w-1/4">
            <div class="relative flex flex-col min-w-0 break-words bg-white shadow-soft-xl rounded-lg bg-clip-border">
              <div class="flex-auto p-4">
                <div class="flex flex-row -mx-3">
                  <div class="flex-none w-2/3 max-w-full px-3">
                    <div>
                      <p class="mb-0 font-sans font-semibold leading-normal text-size-sm">Total Spending</p>
                      <h5 class="mb-0 font-bold">
                        {{total_spending}}
                        <span class="leading-normal text-red-600 text-size-sm font-weight-bolder"></span>
                      </h5>
                    </div>
                  </div>
                  <div class="px-3 text-right basis-1/3">
                    <div class="inline-block w-12 h-12 text-center rounded-lg bg-gradient-fuchsia">
                      <i class="ni ni-paper-diploma text-size-lg relative top-3.5 text-white"></i>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <!-- card4 -->
          <div class="w-full max-w-full px-3 sm:w-1/2 sm:flex-none xl:w-1/4">
            <div class="relative flex flex-col min-w-0 break-words bg-white shadow-soft-xl rounded-lg bg-clip-border">
              <div class="flex-auto p-4">
                <div class="flex flex-row -mx-3">
                  <div class="flex-none w-2/3 max-w-full px-3">
                    <div>
                      <p class="mb-0 font-sans font-semibold leading-normal text-size-sm">Total Earning</p>
                      <h5 class="mb-0 font-bold">
                        {{total_earning}}

                      </h5>
                    </div>
                  </div>
                  <div class="px-3 text-right basis-1/3">
                    <div class="inline-block w-12 h-12 text-center rounded-lg bg-gradient-fuchsia">
                      <i class="ni ni-cart text-size-lg relative top-3.5 text-white"></i>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>


        <!-- cards row 2 -->

        <div class=" flex flex-wrap my-6 -mx-3">
          <!-- Nested card 1 -->
          <div class="w-full max-w-full px-3 sm:w-full sm:flex-none md:mb-0 md:w-1/2 md:flex-none lg:w-1/2 xl:w-1/2 mt-0 mb-6">
            <div class="border-black/12.5 shadow-soft-xl relative flex min-w-0 flex-col break-words rounded-sm border-0 border-solid bg-white bg-clip-border">
              <div class="border-black/12.5 mb-6 rounded-sm border-b-0 border-solid bg-white p-6 pb-0">
                <div class="flex flex-wrap mt-0 -mx-3">
                  <div class="flex-none w-7/12 max-w-full px-3 mt-0 lg:w-1/2 lg:flex-none">
                    <h6>Receivables</h6>
                  </div>
                  <div class="flex-none w-5/12 max-w-full px-3 my-auto text-right lg:w-1/2 lg:flex-none">
                    <div class="relative pr-6 lg:float-right">
                      <a dropdown-trigger class="cursor-pointer" aria-expanded="false">
                        <i class="fa fa-ellipsis-v text-slate-400"></i>
                      </a>
                      <p class="hidden transform-dropdown-show"></p>

                      <ul dropdown-menu class="z-100 text-size-sm transform-dropdown shadow-soft-3xl duration-250 before:duration-350 before:font-awesome before:ease-soft min-w-44 -ml-34 before:text-5.5 pointer-events-none absolute top-0 m-0 mt-2 list-none rounded-lg border-0 border-solid border-transparent bg-white bg-clip-padding px-2 py-4 text-left text-slate-500 opacity-0 transition-all before:absolute before:top-0 before:right-7 before:left-auto before:z-40 before:text-white before:transition-all before:content-['\f0d8']">
                        <li class="relative">
                          <a class="py-1.2 lg:ease-soft clear-both block w-full whitespace-nowrap rounded-lg border-0 bg-transparent px-4 text-left font-normal text-slate-500 lg:transition-colors lg:duration-300" href="javascript:;">Action</a>
                        </li>
                        <li class="relative">
                          <a class="py-1.2 lg:ease-soft clear-both block w-full whitespace-nowrap rounded-lg border-0 bg-transparent px-4 text-left font-normal text-slate-500 lg:transition-colors lg:duration-300" href="javascript:;">Another action</a>
                        </li>
                        <li class="relative">
                          <a class="py-1.2 lg:ease-soft clear-both block w-full whitespace-nowrap rounded-lg border-0 bg-transparent px-4 text-left font-normal text-slate-500 lg:transition-colors lg:duration-300" href="javascript:;">Something else here</a>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
                
                <p class="mb-2 leading-normal text-size-sm">
                  <span class="h-6 block text-black-400 text-size-sm truncate">Amount that you're yet to pay to your vendors</span>
                </p>
                <hr class="h-px mt-0 bg-transparent bg-gradient-horizontal-dark" />

                <div class="text-black-400 text-size-sm">
                  Total unpaid invoices: <span class="font-bold">৳0.00</span>
                </div>

              </div>
            </div>
          </div>
          <!--Nested Card 2 -->
          <div class="w-full max-w-full px-3 sm:w-full sm:flex-none md:mb-0 md:w-1/2 md:flex-none lg:w-1/2 xl:w-1/2 mt-0 mb-6">
            <div class="border-black/12.5 shadow-soft-xl relative flex min-w-0 flex-col break-words rounded-sm border-0 border-solid bg-white bg-clip-border">
              <div class="border-black/12.5 mb-6 rounded-sm border-b-0 border-solid bg-white p-6 pb-0">
                <div class="flex flex-wrap mt-0 -mx-3">
                  <div class="flex-none w-7/12 max-w-full px-3 mt-0 lg:w-1/2 lg:flex-none">
                    <h6>Payables</h6>
                  </div>
                  <div class="flex-none w-5/12 max-w-full px-3 my-auto text-right lg:w-1/2 lg:flex-none">
                    <div class="relative pr-6 lg:float-right">
                      <a dropdown-trigger class="cursor-pointer" aria-expanded="false">
                        <i class="fa fa-ellipsis-v text-slate-400"></i>
                      </a>
                      <p class="hidden transform-dropdown-show"></p>

                      <ul dropdown-menu class="z-100 text-size-sm transform-dropdown shadow-soft-3xl duration-250 before:duration-350 before:font-awesome before:ease-soft min-w-44 -ml-34 before:text-5.5 pointer-events-none absolute top-0 m-0 mt-2 list-none rounded-lg border-0 border-solid border-transparent bg-white bg-clip-padding px-2 py-4 text-left text-slate-500 opacity-0 transition-all before:absolute before:top-0 before:right-7 before:left-auto before:z-40 before:text-white before:transition-all before:content-['\f0d8']">
                        <li class="relative">
                          <a class="py-1.2 lg:ease-soft clear-both block w-full whitespace-nowrap rounded-lg border-0 bg-transparent px-4 text-left font-normal text-slate-500 lg:transition-colors lg:duration-300" href="javascript:;">Action</a>
                        </li>
                        <li class="relative">
                          <a class="py-1.2 lg:ease-soft clear-both block w-full whitespace-nowrap rounded-lg border-0 bg-transparent px-4 text-left font-normal text-slate-500 lg:transition-colors lg:duration-300" href="javascript:;">Another action</a>
                        </li>
                        <li class="relative">
                          <a class="py-1.2 lg:ease-soft clear-both block w-full whitespace-nowrap rounded-lg border-0 bg-transparent px-4 text-left font-normal text-slate-500 lg:transition-colors lg:duration-300" href="javascript:;">Something else here</a>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
                
                <p class="mb-2 leading-normal text-size-sm">
                  <span class="h-6 block text-black-400 text-size-sm truncate">Amount that you're yet to receive from your customers</span>
                </p>

                <hr class="h-px mt-0 bg-transparent bg-gradient-horizontal-dark" />

                <div class="text-black-400 text-size-sm">
                  Total unpaid invoices: <span class="font-bold">৳0.00</span></div>

              </div>
            </div>
          </div>
        </div>

        <!--Card 3 -->
        <div class=" flex flex-wrap my-6 -mx-3">
          <div class="w-full max-w-full px-3 mt-0 mb-6">
            <div class="border-black/12.5 shadow-soft-xl relative flex min-w-0 flex-col break-words rounded-sm border-0 border-solid bg-white bg-clip-border">
              <div class="border-black/12.5 mb-6 rounded-sm border-b-0 border-solid bg-white p-6 pb-0">
                <div class="flex flex-wrap mt-0 -mx-3">
                  <div class="flex-none w-7/12 max-w-full px-3 mt-0 lg:w-1/2 lg:flex-none">
                    <h6>Profit & Loss</h6>
                  </div>
                  <div class="flex-none w-5/12 max-w-full px-3 my-auto text-right lg:w-1/2 lg:flex-none">
                    <div class="relative pr-6 lg:float-right">
                      <a dropdown-trigger class="cursor-pointer" aria-expanded="false">
                        <i class="fa fa-ellipsis-v text-slate-400"></i>
                      </a>
                      <p class="hidden transform-dropdown-show"></p>

                      <ul dropdown-menu class="z-100 text-size-sm transform-dropdown shadow-soft-3xl duration-250 before:duration-350 before:font-awesome before:ease-soft min-w-44 -ml-34 before:text-5.5 pointer-events-none absolute top-0 m-0 mt-2 list-none rounded-lg border-0 border-solid border-transparent bg-white bg-clip-padding px-2 py-4 text-left text-slate-500 opacity-0 transition-all before:absolute before:top-0 before:right-7 before:left-auto before:z-40 before:text-white before:transition-all before:content-['\f0d8']">
                        <li class="relative">
                          <a class="py-1.2 lg:ease-soft clear-both block w-full whitespace-nowrap rounded-lg border-0 bg-transparent px-4 text-left font-normal text-slate-500 lg:transition-colors lg:duration-300" href="javascript:;">Action</a>
                        </li>
                        <li class="relative">
                          <a class="py-1.2 lg:ease-soft clear-both block w-full whitespace-nowrap rounded-lg border-0 bg-transparent px-4 text-left font-normal text-slate-500 lg:transition-colors lg:duration-300" href="javascript:;">Another action</a>
                        </li>
                        <li class="relative">
                          <a class="py-1.2 lg:ease-soft clear-both block w-full whitespace-nowrap rounded-lg border-0 bg-transparent px-4 text-left font-normal text-slate-500 lg:transition-colors lg:duration-300" href="javascript:;">Something else here</a>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
                <p class="mb-2 leading-normal text-size-sm">
                  <span class="h-6 block text-black-400 text-size-sm truncate">Income and expenses including unpaid invoices and bills</span>
                </p>
                <foreignObject x="0" y="0" width="739" height="300">
                  <div class="apexcharts-legend apexcharts-align-left apx-legend-position-top" xmlns="http://www.w3.org/1999/xhtml" style="right: 0px; position: absolute; left: 0px; top: 4px; max-height: 150px;">
                    <div class="apexcharts-legend-series" rel="1" seriesname="Incoming" data:collapsed="false" style="margin: 2px 5px;">
                      <span class="apexcharts-legend-marker" rel="1" data:collapsed="false" style="background: rgb(139, 180, 117) !important; color: rgb(139, 180, 117); height: 12px; width: 12px; left: 0px; top: 0px; border-width: 0px; border-color: rgb(255, 255, 255); border-radius: 12px;"></span>
                      <span class="apexcharts-legend-text" rel="1" i="0" data:default-text="Incoming" data:collapsed="false" style="color: rgb(89, 89, 89); font-size: 12px; font-weight: 400; font-family: Quicksand, sans-serif;">Incoming</span>
                    </div>
                    <div class="apexcharts-legend-series" rel="2" seriesname="Outgoing" data:collapsed="false" style="margin: 2px 5px;">
                      <span class="apexcharts-legend-marker" rel="2" data:collapsed="false" style="background: rgb(251, 113, 133) !important; color: rgb(251, 113, 133); height: 12px; width: 12px; left: 0px; top: 0px; border-width: 0px; border-color: rgb(255, 255, 255); border-radius: 12px;"></span>
                      <span class="apexcharts-legend-text" rel="2" i="1" data:default-text="Outgoing" data:collapsed="false" style="color: rgb(89, 89, 89); font-size: 12px; font-weight: 400; font-family: Quicksand, sans-serif;">Outgoing</span>
                    </div>
                    <div class="apexcharts-legend-series" rel="3" seriesname="Profit" data:collapsed="false" style="margin: 2px 5px;">
                      <span class="apexcharts-legend-marker" rel="3" data:collapsed="false" style="background: rgb(119, 121, 162) !important; color: rgb(119, 121, 162); height: 12px; width: 12px; left: 0px; top: 0px; border-width: 0px; border-color: rgb(255, 255, 255); border-radius: 12px;"></span>
                      <span class="apexcharts-legend-text" rel="3" i="2" data:default-text="Profit" data:collapsed="false" style="color: rgb(89, 89, 89); font-size: 12px; font-weight: 400; font-family: Quicksand, sans-serif;">Profit</span>
                    </div>
                  </div>
                </foreignObject>

              </div>
            </div>
          </div>
        </div>

        

        {% include "includes/footer.html" %}

      </div>
      <!-- end cards -->

{% endblock content %}

<!-- Specific JS goes HERE --> 
{% block javascripts %}

  <!-- plugin for charts  -->
  <script src="{{ ASSETS_ROOT }}/js/plugins/chartjs.min.js"></script>
  <script src="{{ ASSETS_ROOT }}/js/chart-1.js" async></script>
  <script src="{{ ASSETS_ROOT }}/js/chart-2.js" async></script>

{% endblock javascripts %}
