{% extends 'layouts/base.html' %}

{% block title %} Profile {% endblock title %}
{% load custom_tags %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}
<!-- <style>
  table, th, td {
    border: 1px solid #d3d3d3;
    border-collapse: collapse;
    background:#e7f7e7;
  }
  .table-head{
    padding-bottom:10px;
  }
  .sticky-td{
    position: sticky;
    left:0;
  
  }
  </style> -->
{% endblock stylesheets %}

{% block content %}

    <div class="w-full px-6 mx-auto">

      <div class="relative flex items-center p-0 mt-6 overflow-hidden bg-center bg-cover min-h-75 rounded-2xl" style="background-image: url('{{ ASSETS_ROOT }}/img/curved-images/curved0.jpg'); background-position-y: 50%">
        <span class="absolute inset-y-0 w-full h-full bg-center bg-cover bg-gradient-fuchsia opacity-60"></span>
        
        
        <div class="relative flex flex-col flex-auto min-w-0 p-4 mx-6 overflow-hidden break-words border-0 shadow-blur rounded-2xl bg-white bg-clip-border backdrop-blur-2xl backdrop-saturate-200">
          <div class="flex flex-wrap -mx-3">
            <div class="flex-none w-auto max-w-full px-3">
              <div class="text-size-base ease-soft-in-out h-18.5 w-18.5 relative inline-flex items-center justify-center rounded-xl text-white transition-all duration-200">
                <img src="{{ ASSETS_ROOT }}/img/bruce-mars.jpg" alt="profile_image" class="w-full shadow-soft-sm rounded-xl" />
              </div>
            </div>
            <div class="flex-none w-auto max-w-full px-3 my-auto">
              <div class="h-full">
                <h5 class="mb-1">{{ client.company_name }}</h5>
                <p class="mb-0 font-semibold leading-normal text-size-sm">Client</p>
              </div>
            </div>
  
          </div>
        </div>

      </div>
      <!-- <div class="relative flex flex-col flex-auto min-w-0 p-4 mx-6 -mt-16 overflow-hidden break-words border-0 shadow-blur rounded-2xl bg-white bg-clip-border backdrop-blur-2xl backdrop-saturate-200">
        <div class="flex flex-wrap -mx-3">
          <div class="flex-none w-auto max-w-full px-3">
            <div class="text-size-base ease-soft-in-out h-18.5 w-18.5 relative inline-flex items-center justify-center rounded-xl text-white transition-all duration-200">
              <img src="{{ ASSETS_ROOT }}/img/bruce-mars.jpg" alt="profile_image" class="w-full shadow-soft-sm rounded-xl" />
            </div>
          </div>
          <div class="flex-none w-auto max-w-full px-3 my-auto">
            <div class="h-full">
              <h5 class="mb-1">{{ client.company_name }}</h5>
              <p class="mb-0 font-semibold leading-normal text-size-sm">Client</p>
            </div>
          </div>

        </div>
      </div> -->
    </div>

    <div class="w-full p-6 mx-auto">

      <div class="flex flex-wrap -mx-3">
        <div class="w-full max-w-full px-3 lg-max:mt-6">
          <div class="relative flex flex-col h-full min-w-0 break-words bg-white border-0 shadow-soft-xl rounded-2xl bg-clip-border">
            <div class="p-4 pb-0 mb-0 bg-white border-b-0 rounded-t-2xl">
              <div class="flex flex-wrap -mx-3">
                <div class="flex items-center w-full max-w-full px-3 shrink-0 md:w-8/12 md:flex-none">
                  <h6 class="mb-0">Profile Information</h6>
                </div>
              </div>
            </div>

            <div class="flex flex-row p-4">
              <div class="w-full lg:w-1/2">
                <ul class="flex flex-col pl-0 mb-0">
                  <li class="relative block px-4 py-2 pl-0 leading-normal bg-white border-0 border-t-0 text-size-sm text-inherit"><strong class="text-slate-700">Client ID:</strong> &nbsp; {{client.client_id}}</li>
                  <li class="relative block px-4 py-2 pl-0 leading-normal bg-white border-0 border-t-0 text-size-sm text-inherit"><strong class="text-slate-700">Mobile:</strong> &nbsp; (+88) {{client.phone}}</li>
                  <li class="relative block px-4 py-2 pl-0 leading-normal bg-white border-0 border-t-0 text-size-sm text-inherit"><strong class="text-slate-700">Email:</strong> &nbsp; {{ client.email }}</li>
                  <li class="relative block px-4 py-2 pl-0 leading-normal bg-white border-0 border-t-0 text-size-sm text-inherit"><strong class="text-slate-700">Address:</strong> &nbsp; {{ client.address }}</li>
                </ul>
              </div>



              <div class="w-full mb-4 lg:w-1/2">
                <div class="m-auto pl-0 mb-0">
                  <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3649.6945870970876!2d90.56412371473023!3d23.82945709166909!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3755cb0a4c65ef27%3A0xf54f56affbffdc99!2sGreen%20University%20of%20Bangladesh%20Permanent%20Campus!5e0!3m2!1sen!2sbd!4v1679839363718!5m2!1sen!2sbd" width="400" height="200" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                </div>
              </div>
              
            </div>
          </div>
        </div>
        

        <div class="flex-none w-full max-w-full px-3 mt-6">
          <div class="relative flex flex-col min-w-0 mb-6 break-words bg-white border-0 shadow-soft-xl rounded-2xl bg-clip-border">
          
            
              <div class="p-4 pb-0 mb-2 bg-white border-b-0 border-b-solid rounded-t-2xl border-b-transparent">
                <h6 class="mb-1">Client Ledger</h6>
              </div>
              <div class="flex-auto px-0 pt-0 pb-2">
                <div class="p-0 overflow-x-auto">
                  <table class="table-fixed items-center justify-center w-full mb-0 align-top border-gray-200 text-slate-500">
                    <thead class="align-bottom text-white bg-slate-500">
                      <tr>
                        <th class="w-1/10 px-6 py-3 pl-2 text-left uppercase align-middle bg-transparent border-b border-gray-200 shadow-none text-size-sm border-b-solid tracking-none whitespace-nowrap">Name</th>
                        <th class="w-1/10 px-6 py-3 pl-2 text-left uppercase align-middle bg-transparent border-b border-gray-200 shadow-none text-size-sm border-b-solid tracking-none whitespace-nowrap">Date</th>
                        <th class="w-3/10 px-6 py-3 pl-2 text-left uppercase align-middle bg-transparent border-b border-gray-200 shadow-none text-size-sm border-b-solid tracking-none whitespace-nowrap">Description</th>
                        <th class="w-1/10 px-6 py-3 pl-2 uppercase align-middle bg-transparent border-b border-gray-200 shadow-none text-size-sm border-b-solid tracking-none whitespace-nowrap">Quantity</th>
                        <th class="w-1/10 px-6 py-3 pl-2 uppercase align-middle bg-transparent border-b border-gray-200 shadow-none text-size-sm border-b-solid tracking-none whitespace-nowrap">Unit Price</th>
                        <th class="w-1/10 px-6 py-3 pl-2 uppercase align-middle bg-transparent border-b border-gray-200 shadow-none text-size-sm border-b-solid tracking-none whitespace-nowrap">Total Price</th>
                        <th class="w-1/10 px-6 py-3 pl-2 uppercase align-middle bg-transparent border-b border-gray-200 shadow-none text-size-sm border-b-solid tracking-none whitespace-nowrap">Payment</th>
                        <th class="w-1/10 px-6 py-3 pl-2 uppercase align-middle bg-transparent border-b border-gray-200 shadow-none text-size-sm border-b-solid tracking-none whitespace-nowrap">Due</th>
    
                        <th class="w-1/10 px-6 py-3 font-semibold capitalize align-middle bg-transparent border-b border-gray-200 border-solid shadow-none tracking-none whitespace-nowrap"></th>
                      </tr>
                    </thead>
                    <tbody>
    
                    {% for record in page_obj %}
                      <tr>
                        <td class="p-2 align-middle bg-transparent border-b whitespace-normal shadow-transparent">
                          <p class="px-2 mb-0 font-semibold leading-normal text-size-xs">{{ record.client.company_name }}</p>
                        </td>
    
                        <td class="p-2 align-middle bg-transparent border-b whitespace-nowrap shadow-transparent">
                          <p class="mb-0 font-normal leading-normal text-size-xs">{{ record.date }}</p>
                        </td>
    
                        <td class="p-2 align-middle bg-transparent border-b whitespace-normal shadow-transparent">
                          <span class="font-normal leading-normal text-size-sm">{{ record.description }}</span>
                        </td>
    
                        <td class="p-2 align-middle text-right bg-transparent border-b whitespace-nowrap shadow-transparent">
                          <span class="mr-2 leading-tight text-size-sm">{{ record.quantity }} <span class="text-size-xs">-unit</span></span>
                        </td>
    
                        <td class="p-2 align-middle text-right bg-transparent border-b whitespace-nowrap shadow-transparent">
                            <span class="mr-2 leading-tight text-size-sm">{{ record.unit_price }}</span>
                        </td>
    
                        <td class="p-2 align-middle text-right bg-transparent border-b whitespace-nowrap shadow-transparent">
                          <span class="mr-2 leading-tight text-size-sm">{{ record.total_price }}</span>
                        </td>
    
                        <td class="p-2 align-middle text-right bg-transparent border-b whitespace-nowrap shadow-transparent">
                          <span class="mr-2 leading-tight text-size-sm">{{ record.payment }}</span>
                        </td>
                        <td class="p-2 align-middle text-right bg-gray-200 border-b whitespace-nowrap shadow-transparent">
                          <span class="mr-2 leading-tight text-size-sm">{{ record.cumbalance }}</span>
                        </td>
    
                        <td class="align-middle text-center bg-transparent border-b whitespace-nowrap shadow-transparent">
                          <a class="relative z-10 inline-block px-2 font-bold text-center text-transparent uppercase align-middle transition-all shadow-none cursor-pointer leading-pro text-size-xs ease-soft-in bg-150 bg-gradient-red hover:scale-102 bg-clip-text" href="{% url 'del_clientbook' record.id %}"><i class="mr-2 far fa-trash-alt bg-150 bg-clip-text"></i></a>
                          <a class="inline-block px-2 font-bold text-center uppercase align-middle transition-all bg-transparent border-0 rounded-lg shadow-none cursor-pointer leading-pro text-size-xs ease-soft-in bg-150 hover:scale-102 active:opacity-85 bg-x-25 text-slate-700" href="{% url 'update_clientbook' record.id %}"><i class="mr-2 fas fa-pencil-alt text-slate-700" aria-hidden="true" ></i></a>                
                      </td>
                      </tr>
                    {% endfor %}
                    </tbody>
                  </table>
                  <div class="p-6 pb-0 mb-2 bg-white border-b-0 border-b-solid rounded-t-2xl border-b-transparent">
                    <div class="flex-none max-w-full px-3 text-right">
                      <a class="show-modal inline-block px-6 py-3 font-bold text-center text-black uppercase align-middle transition-all bg-transparent rounded-lg cursor-pointer leading-pro text-size-xs ease-soft-in shadow-soft-md bg-150 hover:shadow-soft-xs active:opacity-85 hover:scale-102 tracking-tight-soft bg-x-25" > <i class="fas fa-plus"> </i>&nbsp;&nbsp;Add New</a>
                    </div>
                  </div>
                </div>
              </div>

          </div>
        </div>


        <div class="flex-none w-full max-w-full px-3 mt-6">
          <div class="relative flex flex-col min-w-0 mb-12 break-words bg-white border-2 border-slate-500 border-solid shadow-soft-xl rounded-2xl bg-clip-border">
            <form role="form text-left" method="POST" autocomplete="off">
              {% csrf_token %}
              <div class="modal flex-auto px-0 pt-0 pb-2 hidden">
                <div class="p-0 overflow-x-auto">
                  <table class="items-center justify-center w-full mb-0 align-top text-slate-500">
                    <tbody>
                      <tr>
                        <td class="p-2 align-middle bg-transparent whitespace-nowrap shadow-transparent">
                          <label class="mb-2 ml-1 font-bold text-size-xs text-slate-700">ID</label>
                          <div class="mb-4">
                            <!-- <select name="client_id" id="client_id" class="text-size-sm focus:shadow-soft-primary-outline leading-5.6 ease-soft block w-full rounded-lg border border-solid border-gray-300 bg-white bg-clip-padding py-2 px-3 font-normal text-gray-700 transition-all focus:border-fuchsia-200 focus:bg-white focus:text-gray-700 focus:outline-none focus:transition-shadow">
                              {% for client in clients %}
                              <option value="{{client.client_id}}" >{{client.company_name}}</option>
                              {% endfor %}
                            </select> -->
                            <input name="client_id" id="client_id" class="text-size-sm focus:shadow-soft-primary-outline leading-5.6 ease-soft block w-full appearance-none rounded-lg border border-solid border-gray-300 bg-white bg-clip-padding py-2 px-3 font-normal text-gray-700 transition-all focus:border-fuchsia-300 focus:bg-white focus:text-gray-700 focus:outline-none focus:transition-shadow" placeholder="{{client.client_id}}" value="{{client.client_id}}" readonly/>
                          </div>   
                        </td>
        
                        <td class="p-2 align-middle bg-transparent whitespace-nowrap shadow-transparent">
                          <label class="mb-2 ml-1 font-bold text-size-xs text-slate-700">Date</label>
                          <div class="mb-4">
                            <input type="date" class="text-size-sm focus:shadow-soft-primary-outline leading-5.6 ease-soft block w-full appearance-none rounded-lg border border-solid border-gray-300 bg-white bg-clip-padding py-2 px-3 font-normal text-gray-700 transition-all focus:border-fuchsia-300 focus:bg-white focus:text-gray-700 focus:outline-none focus:transition-shadow" placeholder="Date" name="date" id="date" required/>
                          </div>
                        </td>
        
        
                        <td class="p-2 align-middle bg-transparent whitespace-nowrap shadow-transparent">
                          <label class="mb-2 ml-1 font-bold text-size-xs text-slate-700">Description</label>
                          <div class="mb-4">
                            <input type="text" class="text-size-sm focus:shadow-soft-primary-outline leading-5.6 ease-soft block w-full appearance-none rounded-lg border border-solid border-gray-300 bg-white bg-clip-padding py-2 px-3 font-normal text-gray-700 transition-all focus:border-fuchsia-300 focus:bg-white focus:text-gray-700 focus:outline-none focus:transition-shadow" placeholder="Description" name="description" id="description"/>
                          </div>
                        </td>

                        <td class="p-2 align-middle bg-transparent whitespace-nowrap shadow-transparent">
                          <label class="mb-2 ml-1 font-bold text-size-xs text-slate-700">Quantity</label>
                          <div class="mb-4">
                            <input type="number" class="text-size-sm focus:shadow-soft-primary-outline leading-5.6 ease-soft block w-full appearance-none rounded-lg border border-solid border-gray-300 bg-white bg-clip-padding py-2 px-3 font-normal text-gray-700 transition-all focus:border-fuchsia-300 focus:bg-white focus:text-gray-700 focus:outline-none focus:transition-shadow" placeholder="Quantity" name="quantity" id="quantity" value="0" />
                          </div>
                        </td>

                        <td class="p-2 align-middle bg-transparent whitespace-nowrap shadow-transparent">
                          <label class="mb-2 ml-1 font-bold text-size-xs text-slate-700">Unit Price</label>
                          <div class="mb-4">
                            <input type="number" step="0.01" class="text-size-sm focus:shadow-soft-primary-outline leading-5.6 ease-soft block w-full appearance-none rounded-lg border border-solid border-gray-300 bg-white bg-clip-padding py-2 px-3 font-normal text-gray-700 transition-all focus:border-fuchsia-300 focus:bg-white focus:text-gray-700 focus:outline-none focus:transition-shadow" placeholder="Unit Price" name="unit_price" id="unit_price" value="0" />
                          </div>
                        </td>
        
                        <td class="p-2 align-middle bg-transparent whitespace-nowrap shadow-transparent">
                          <label class="mb-2 ml-1 font-bold text-size-xs text-slate-700">Payment</label>
                          <div class="mb-4">
                            <input type="number" class="text-size-sm focus:shadow-soft-primary-outline leading-5.6 ease-soft block w-full appearance-none rounded-lg border border-solid border-gray-300 bg-white bg-clip-padding py-2 px-3 font-normal text-gray-700 transition-all focus:border-fuchsia-300 focus:bg-white focus:text-gray-700 focus:outline-none focus:transition-shadow" placeholder="Payment" name="payment" id="payment" value="0" />
                          </div>
                        </td>
                      </tr>
        
                    </tbody>
                  </table>
        
                  <!-- Entry Submit Button -->
                  <div class="flex mr-2 overflow-hidden">
                    <div class="text-center mr-0 ml-auto">
                      <input type="submit" value="Add entry" class="inline-block px-8 py-2 mb-0 font-bold text-center uppercase align-middle transition-all bg-slate-700 border border-solid rounded-lg shadow-none cursor-pointer leading-pro ease-soft-in text-size-xs hover:scale-102 active:shadow-soft-xs text-white hover:border-slate-700hover:text-slate-700 hover:opacity-75 hover:shadow-none active:bg-slate-700 active:text-slate-700 active:hover:bg-transparent active:hover:text-slate-700"></input>
                    </div>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>

        <!-- Pagination starts from here -->
        {% if page_obj.has_other_pages %}
        <div class="mb-12">
          <div class="flex justify-center items-center">
            <span>
              {% if page_obj.has_previous %}
                <a class="px-4 py-2 border-2 border-gray-500 text-slate-700 shadow-soft-lg" href="?page=1">&lt;&lt;</a>
                <a class="px-4 py-2 border-2 border-gray-500 text-slate-700 shadow-soft-lg" href="?page={{page_obj.previous_page_number}}">&lt;</a>
              {% endif %}
                <span class="text-size-xs px-2">page {{ page_obj.number}} of {{page_obj.paginator.num_pages}}</span>
            </span>
            <span>
              {% if page_obj.has_next %}
                <a class="px-4 py-2 border-2 border-gray-500 text-slate-700 shadow-soft-lg" href="?page={{page_obj.next_page_number}}">&gt;</a>
                <a class="px-4 py-2 border-2 border-gray-500 text-slate-700 shadow-soft-lg" href="?page={{page_obj.paginator.num_pages}}">&gt;&gt;</a>
              {% endif %}
            </span>
          </div>
        </div>
        {% endif %}
        <!-- Pagination ends here -->
      </div>

      {% include "includes/footer.html" %} 

    </div>

{% endblock content %}

<!-- Specific JS goes HERE --> 
{% block javascripts %}
<script>
  const modal = document.querySelector('.modal');
  const showModal = document.querySelector('.show-modal');
  var click_count = 0;
  showModal.addEventListener('click', function(){
    if (click_count == 0){
      modal.classList.remove('hidden');
      click_count = 1;
    }
    else{
      modal.classList.add('hidden');
      click_count = 0;
    }
  });
</script>
{% endblock javascripts %}
